In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# read and store csv in df
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Strezhevoy,RU,2021-09-21 20:26:40,60.7333,77.5889,33.78,98,100,5.28
1,1,Jamestown,US,2021-09-21 20:26:41,42.0970,-79.2353,74.01,70,75,4.00
2,2,Huanren,CN,2021-09-21 20:26:41,41.2647,125.3667,56.37,97,100,4.09
3,3,Ponta Do Sol,PT,2021-09-21 20:26:41,32.6667,-17.1000,74.03,72,72,5.19
4,4,Salinas,US,2021-09-21 20:22:43,36.6777,-121.6555,102.56,32,1,10.36

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# 1. Assign the locations" to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [5]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
temps = []
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations,  weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of himiditiy 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,  weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,  weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of hwind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,  weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter destinations based on max and min temp inputs
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Vanimo,PG,2021-09-21 20:26:42,-2.6741,141.3028,76.78,90,100,2.68
17,17,Luganville,VU,2021-09-21 20:26:46,-15.5333,167.1667,76.91,77,69,2.21
23,23,Avarua,CK,2021-09-21 20:26:47,-21.2078,-159.7750,77.05,83,75,6.91
27,27,Kirakira,SB,2021-09-21 20:26:49,-10.4544,161.9205,78.80,85,80,5.37
34,34,Humberto De Campos,BR,2021-09-21 20:26:51,-2.5983,-43.4611,83.50,64,89,9.75
43,43,Veraval,IN,2021-09-21 20:26:54,20.9000,70.3667,80.67,86,94,16.22
45,45,San Cristobal,VE,2021-09-21 20:26:55,7.7669,-72.2250,80.78,83,100,5.99
49,49,Dalbandin,PK,2021-09-21 20:26:56,28.8947,64.4101,78.82,12,0,1.86
50,50,Davila,PH,2021-09-21 20:26:57,18.4726,120.5763,81.09,82,29,4.18
54,54,Puerto Ayora,EC,2021-09-21 20:26:58,-0.7393,-90.3518,76.96,83,74,11.01

In [11]:
preferred_cities_df[preferred_cities_df["Country"].isnull()]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
427,427,Ongandjera,NaN,2021-09-21 20:29:02,-17.8833,15.0667,79.68,17,5,10.80
502,502,Opuwo,NaN,2021-09-21 20:28:16,-18.0607,13.8400,77.05,21,14,5.66

In [12]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.isnull().count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = np.nan

In [14]:
# api key
from config import g_key
params = {
    "key": g_key,
    "radius": 5000,
    "type": "lodging"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Vanimo,PG,76.78,-2.6741,141.3028,Vahmoneh Lodge Vanimo
17,Luganville,VU,76.91,-15.5333,167.1667,The Espiritu Hotel
23,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
27,Kirakira,SB,78.80,-10.4544,161.9205,SanBiz Lodge
34,Humberto De Campos,BR,83.50,-2.5983,-43.4611,Pousada do Cabeça
43,Veraval,IN,80.67,20.9000,70.3667,Lords Inn Somnath
45,San Cristobal,VE,80.78,7.7669,-72.2250,Posada Villaven C.A.
49,Dalbandin,PK,78.82,28.8947,64.4101,Gidaan Guest House
50,Davila,PH,81.09,18.4726,120.5763,Blue Ridge Beach Resort
54,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [16]:
hotel_df.isnull().count()

City          166
Country       166
Max Temp      166
Lat           166
Lng           166
Hotel Name    166
dtype: int64

In [19]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# add heatmap layer attribute
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# define marker layer attribute as variable
# aadd info box to marker_layer attribute
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
# add marker layer
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))